<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ordered || FashionGalleria</title>

    <link href="assets/img/favicon.png" rel="icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
     <link rel="stylesheet" href="css/order-response.css" type="text/css">



         <style>
        /* Style the dropdown container */
        .user-dropdown {
            position: relative;
            display: inline-block;
        }

        /* Style the button that will open the dropdown */
        .user-btn {
            background-color: #ffffff;
            color: rgb(31, 30, 30);
            padding: 10px;
            font-size: 20px;
            border: none;
            cursor: pointer;
        }

        /* Style the dropdown content (hidden by default) */
        .user-dropdown-content {
            display: none;
            position: absolute;
            background-color: #ffffff;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            width:max-content;
            right: 0;
        }

        /* Style the individual items in the dropdown */
        .user-dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color on hover */
        .user-dropdown-content a:hover {
            background-color: #ddd;
        }

        /* Show the dropdown when hovering over the container */
        .user-dropdown:hover .user-dropdown-content {
            display: block;
        }
    </style>

{{!-- 
    for search box --}}
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .search-container {
            position: fixed;
            top: 11%;
            
            right: -300px; /* Initial position off-screen */
            transform: translateY(-50%);
            transition: right 0.3s ease;
        }

        .search-box {
            width: 300px;
            padding: 10px;
            box-sizing: border-box;
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .search-icon {
            position: fixed;
            top: 20px;
            right: 20px;
            cursor: pointer;
            font-size: 20px;
        }
    </style>
    {{!-- end search box --}}
    <!-- Custom CSS for transparent heart with border -->
    <style>
      .IconColor {
        border: 2px solid rgb(47, 47, 47);
      }
    </style>
</head>


<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="/"><img src="img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    {{!-- <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
             <img src="" alt="SVG Image" width="100" height="100">
            <a href="/index"><img src="#Logooooo" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End --> --}}

    <!-- Header Section Begin -->
    <header class="header-area header-sticky">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2" style="padding:0%">
                    <div style="max-height: 100px; max-width:400px">
                        <a href="/"><img src="img/logo.svg" alt=""></a>
                    </div>
                </div>
                {{!-- <div class="col-xl-3 col-lg-2" style="padding: 0% !important">
                    <div class="header__logo" style="max-height:100px max-width:200px padding:0% !important">
                        <a href="/"><img src="img/logo.svg" alt="fashionGaballeria" style="padding: 0% !important" ></a>
                    </div>
                </div> --}}
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#men">Men's</a></li>
                            <li class="scroll-to-section"><a href="#women">Women's</a></li>
                             

                            
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="/orders">View orders</a></li>
                                    <li><a href="./shop-cart.html">Shop Cart</a></li>
                                    <li><a href="./checkout.html">Checkout</a></li>
                                
                                </ul>
                            </li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        {{!-- <div class="header__right__auth">
                            <a href="#">Login</a>
                            <a href="#">Register</a>
                        </div> --}}

                        <ul class="header__right__widget">
                            <li>
                                <div class="fas fa-search" onclick="toggleSearch()">
                                    <!-- Unicode for magnifying glass icon -->
                                </div>
                                <div class="search-container">
                                    <div class="search-box">
                                        <!-- Your search input and other content here -->
                                        <input type="text" placeholder="Search...">
                                    </div>
                                </div>
                            </li>
                            <li><a href="#"><i class="fas fa-heart"></i>
                            </a></li>
                            <li><a href="/cart"><i class="fas fa-shopping-bag"></i>
                                <div class="tip">2</div>
                            </a></li>
                            <li>
                                   <!-- User icon dropdown container -->
                                <div class="user-dropdown">
                                    <!-- Button to open the dropdown -->
                                    <button class="user-btn"><i class="fas fa-user"></i></button>
                                    <!-- Dropdown content -->
                                    <div class="user-dropdown-content">
                                        <!-- Individual items with icons -->
                                        <a href="/user-profile"><i class="fas fa-user">  Profile</i></a>
                                        {{!-- <a href="#"><i class="fas fa-cog"></i></a> --}}
                                        <a href="/userLogout"><i class="fas fa-sign-out-alt">  Logout</i></a>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->


    <!-- Checkout Section Begin -->
    <section class="checkout spad">





<div class="container d-flex justify-content-center pt-5 card-margin-top">
       <div class="card p-4 mt-3">
          <div class="first d-flex justify-content-between align-items-center mb-3">
            <div class="info">
                {{!-- <span class="d-block name">Thank you, {{user.fullname}}</span> --}}
                <span class="order text-success">Order -{{id}}</span>
                  <span class="order">Use this order id for further need</span>
            </div>
           
             <img src="https://i.imgur.com/NiAVkEw.png" width="40"/>
              

          </div>
              <div class="detail">
          <span class="d-block summery">Your order has been dispatched. we are delivering you order.</span>
              </div>
          <hr>
          <div class="text">
        {{!-- <span class="d-block new mb-1" >{{user.fullname}}</span> --}}
         </div>
        {{!-- <span class="d-block address mb-3">{{user.permanentaddress}}</span> --}}
          <div class="  money d-flex flex-row mt-2 align-items-center">
            <img src="https://i.imgur.com/ppwgjMU.png" width="20" />
        
        {{#if COD}}
            <span class="ml-2">Cash on Delivery</span>
        {{else}}
            <span class="ml-2">Cash on Delivery</span>
        {{/if}}
               </div>
               <div  class="last d-flex align-items-center mt-3">
                <a class=" btn address-line" href="/orders">
                <span class="address-line">View Orders</span>
                </a>
               </div>

               <div  class="last d-flex align-items-center mt-3">
                <a class=" btn address-line" href="/">
                <span class="address-line">Back to Home</span>
                </a>
               </div>
        </div>
    </div>

    </section>
    <!-- Checkout Section End -->




<script>
    document.addEventListener("DOMContentLoaded", () => {
      const urlParams = new URLSearchParams(window.location.search);
      const orderId = urlParams.get('id');
      console.log('orderIdddddddddddddddddddd',orderId)
      if (orderId) {
        const orderSpan = document.querySelector('.order');
        orderSpan.innerText = `Order - ${orderId}`;
      }
    });
</script>




    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>